* { 
    margin:0;
    font-size: 25px;
    box-sizing: border-box;
    color: #2ECC71 ;

}
p{
  color: white;
  font-size: 25px;
}
h2{
  color: #7D3C98 ;
  font-size: 25px;
  text-align: center;
}
form{ 
  width: 760px;
  background-image: url("fondosu.jpg");
  padding: 30px;
  margin: auto;
  border-radius: 4px
  font-family:'calibri';
}
table ,td,th {
  border:  1px solid white;
  font-size: 25px;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-size: 25px;

}
legend{
  color; white ;
  font-size: 15px;
  
}

td,th {
  padding: 5px;
  font-size: 25px;
}
h1 {
    color:#FDFEFE ;
    font-size:40px;
}
thead{
  color: white;
  font-size: 25px;
}
tbody{
  color:white;
  font-size: 25px;
}
tfoot{
  color: white;
  font-size: 25px;
}
caption{
  color: white;
  font-size: 25px;
}
a:link, a:visited, a:hover, a:active {
  color:white;
  font-size:16px;
}
label{
  display:block;
  float: left;

}
#menu {
        background-color:#4BDA49  ;
        float:left;
        height:2020px;
        padding:0px;
        width:150px;
        font-size: 25px;
}
#contenedor {
        margin:0 auto;
        width:900px;
      }
#contenido {
        float:left;
        height:2000px;
        padding:0px;
        width:660px;
      }
