table ,td,th {
  border:  1px solid white;
  font-size: 25px;
}
table{
	border-collapse: collapse;
	width: 100%;
	font-size: 25px;

}

td,th {
	padding: 5px;
	font-size: 25px;
}
thead{
	color: white;
	font-size: 25px;
}
tbody{
	color:white;
	font-size: 25px;
}
tfoot{
	color: white;
	font-size: 25px;
}
caption{
	color: white;
	font-size: 25px;
}
